
/* Container do carrossel */
.carrossel {
    position: relative;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;

}

/* Container de slides */
.slides-container {
    display: flex;
    transition: transform 1s ease-in-out;
    width: 100%;
}

/* Estilo de cada slide */
.slide {
    min-width: 100%;
    text-align: center;
    padding: 40px;
    font-size: 24px;
    box-sizing: border-box;
}

/* Botões de navegação */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Efeitos de hover nos botões */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Botões desativados */
button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
