.seta, .set {
    background:transparent;
    margin:auto;
    float:none;
    opacity:0;
    animation:anima-seta 700ms ease infinite;
    width:20px;
    height:30px;
    margin-top: 50%;
}

.fa-computer-mouse, .fa-arrow-down {
    font-size: 20px;
    text-align:center;
    color:whitesmoke;
}

.aviso {
    opacity: 0.9;
    margin-bottom: 6%; margin-top: -5%;
    display: flex;
    justify-content: space-between; /* Espaça os itens igualmente */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    gap: 10px; /* Espaço entre os itens */
}

@keyframes anima-seta {
    to {
        opacity:0.7;
        transform: translateY(18px);
    }
}